@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont.ttf') format('truetype');
  font-weight: 100 900; /* Adjust based on the actual weight range supported by the font */
}

div#root {
  margin: 0 auto;
  float: unset; height: 100%; width: 100%;
  }

.bold{
  font-weight: 500 !important;
}

.light{
  font-weight: 300 !important;
}

.center{
  text-align: center;
}

p {
  color: #000;
  font-family: 'Inter';
  font-size: 13px !important;
  font-style: normal !important;
  font-weight: 300 !important;
  line-height: normal !important;
  /* border: 1px solid red; */
  margin: 0px !important;

}

.label {
  font-size: 11px !important;
}

h1{ 
  /* Greetings */
  color: #000;
  font-family: 'Inter';
  font-size: 26px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
}

h2{
  /* subtitles */
  color: #000;
  font-family: 'Inter';
  font-size: 22px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  padding-top: 30px !important;
  margin-bottom: 0px !important;
}

h3{
  /* labels */
  color: #000;
  font-family: 'Inter';
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 450 !important;
  margin-bottom: 0 !important;
  /* line-height: 18px !important; 128.571% */
}


h4 {
  /* light label */
  color: #000;
  font-family: 'Inter';
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 200 !important;
  /* line-height: 18px !important; */
}

h5 {
  font-family: 'Inter';
  font-size: 0.5625rem;
  font-style: normal;
  font-weight: 200 !important;
  line-height: normal;
  /* border: 1px solid blue; */
  margin-left: 10px;
  font-size: 14px;
}

h6{
  color: #000;
  text-align: right;
  font-family: 'Inter';
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
}

.logo{
  padding-left: 40px;;
}

.App {
  text-align: center;
}

.notifRow{
  border-bottom: 0.5px solid #E6E4E0;
}


.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 107px); /* 3 columns with fixed width */
  gap: 20px; /* Adjust the gap between images */
  justify-content: center; /* Center the columns */
  margin: 0 auto; /* Ensure the grid is centered within its container */
  padding-top: 8px;
}

.gallery-container a {
  position: relative;
  display: inline-block;
}

.gallery-container a img {
  display: block;
  max-width: 100%;
  height: auto;
}

.verification-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
  transform: translate(-5%, 305%) !important;
}
.verification-icon svg{
  width: 25px;
  height: 25px;
}


.navbar{
  box-shadow: 0px -1px 50.2px -12px rgba(0, 0, 0, 0.25);
}

.nav-brand{
  width: 110% !important;
}

.desktopNav{
  /* background-color: blue; */
}

.nav-link{
  margin: 0 auto;
  color: #000 !important;
  text-align: center;
  font-family: 'Inter' !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal;
  border-bottom: 2px solid #CA0CD0 !important;
}

.nav-link-dk{
  padding-left: 10%;
  border-bottom: 0px solid #CA0CD0 !important;
  text-align: right !important;
}

.nav-link-dk:hover{
  border-bottom: 2px solid #CA0CD0 !important;
}

#basic-navbar-nav{
  padding-top: 34px;
  padding-bottom: 34px;
}

.navbar-toggler{
  border: none !important;
  width: 31.18px;
  padding: 0 !important;
  margin-right: 3px;
}



.mobileCont{
  /* background-color: blue; */
  padding-top: 30px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 30px;
}

.desktopCont{
  /* background-color: red; */
  margin: 0 auto;
  width: 30vw;
}

.greyBox{
  border-radius: 5px;
  padding: 15px;
  background: #F6F6F6;
  vertical-align: baseline;
  width: 100%;
  margin-top: 20px !important;
  /* text-align: middle; */
}

.pinkBox{
  border-radius: 5px;
  padding: 15px;
  background: #CA0CD0;
  vertical-align: baseline;
  width: 100%;
  margin-top: 20px !important;
  /* text-align: middle; */
}

.pinkSpan{
  font-weight: 500 !important;
}

.pinkBox p {
  color: white !important;
}

.align-baseline-custom {
  vertical-align: baseline;
}

.row{
  align-items: baseline;
}

.arrowIconRow{
  padding-top: 10px !important;
}

.secButton{
  text-align: right;
  /* float: right; */
}

.secButtonText{
  
  color: #CA0CD0;
font-size: 14px !important;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration-line: underline;
margin-right: 0;
}

.rightArrow{
  width: 8px;
height: 18px;
align-self: right;
float: right;
}

.graph{
  width: 100%;
}

.linkButton{
  border: none;
  background-color: transparent;
}

.labelBold {
  font-weight: 600 !important; /* Use !important cautiously */
  flex: 8; /* Takes up 90% of the space */
}

.labelsemiBold{
  color: #000;
font-family: 'Inter';
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.newcol {
  display: flex;
  align-items: center; /* This aligns the items vertically center in case they have different heights */

}

.arrowBtn {
  flex: 2; /* Takes up 10% of the space */
}

.scraper {
  margin: 0 auto;
}

.product-circle{
  width:107px !important;
  margin: 15px;
}

.product-similar-main{
  width: 43px;
height: 43px;
}

.similarProdTitle{
  padding-bottom: 9px;
}

.linksimilarTitle{
text-decoration: none;
}
.product-similar-mainName{
  text-align: left;
  color: #4A25E3;
font-size: 16px !important;
font-style: normal;
font-weight: 500 !important;
line-height: normal;
}

.similarProdMainBox{
  border-bottom: 1px solid #E6E4E0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.product-similar{
  width:80px !important;
  border-radius: 3px !important;
}

.productPageImage{
  height: 246px;
  margin: 0 auto;
  margin-top: -30px;
  display: block;
      
}

.whiteBox{
  border-radius: 5px;
  padding: 15px;
  background: #FFF;
  vertical-align: baseline;
  width: 100%;
  /* margin-top: 20px !important; */
  /* text-align: center; */
}

.verification-icon-card svg{
  height: 29px;
}

.marg11{
  margin-top: 11px !important;
}

.marg29{
  padding-top: 29px !important;
  padding-bottom: 24px;
}

.table-gal{
  margin-bottom:29px ;
}

.fixed-button-container {
  position: fixed;
  bottom: 0;
  /* width: 100% !important; */
  width: 84.5% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

/* .image-button-sticky {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  margin: 0 auto;
} */


.image-button {
  position: relative;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.fixedbutton {
  position: static;

}

.image-button img {
  width:100%;
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  pointer-events: none; /* Ensure the text doesn't interfere with button clicks */
}

.pendingVerification {
  position: relative;
}

.pendingVerification::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(255, 255, 255, 0.84);
}

.form{
  width: 100%;
  border-radius: 5px;
border: 1px solid rgba(0, 0, 0, 0.08);
background: #FFF;
}

.required::after {
  content: "  *";
  color: #FF0303;
}

.formSection{
  padding-bottom:13px;
}

.formCarrouselImg{
  width: 57.767px;
height: 53.676px;
}

.react-date-picker__wrapper{
  width: 100%;
}

.customDatePickerWidth{
   width: 100%;
}

.proseCertificate{
  text-align: center;
  margin-top: 58%;
  /* background-color: yellow; */
  margin-left: 10%;
  margin-right: 10%;
}