@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont.ttf') format('truetype');
  font-weight: 100 900; /* Adjust based on the actual weight range supported by the font */
}

.bold{
  font-weight: 500 !important;
}

.light{
  font-weight: 300 !important;
}

.center{
  text-align: center;
}

p {
  color: #000;
  font-family: 'Inter';
  font-size: 13px !important;
  font-style: normal !important;
  font-weight: 300 !important;
  line-height: normal !important;
  /* border: 1px solid red; */
  margin: 0px !important;

}

.label {
  font-size: 11px !important;
}

h1{ 
  /* Greetings */
  color: #000;
  font-family: 'Inter';
  font-size: 26px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
}

h2{
  /* subtitles */
  color: #000;
  font-family: 'Inter';
  font-size: 22px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  padding-top: 30px !important;
  margin-bottom: 0px !important;
}

h3{
  /* labels */
  color: #000;
  font-family: 'Inter';
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
  /* line-height: 18px !important; 128.571% */
}


h4 {
  /* light label */
  color: #000;
  font-family: 'Inter';
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 200 !important;
  /* line-height: 18px !important; */
}

h5 {
  font-family: 'Inter';
  font-size: 0.5625rem;
  font-style: normal;
  font-weight: 200 !important;
  line-height: normal;
  /* border: 1px solid blue; */
  margin-left: 10px;
  font-size: 14px;
}

.logo{
  padding-left: 40px;;
}

.App {
  text-align: center;
}

.notifRow{
  border-bottom: 0.5px solid #E6E4E0;
}

.profilePicture {
  width: 145px; 
  margin: auto;
  display: block;
  padding-top: 10%;
}

.valuationParagraph{
  text-align: center;
}

.prof_name {
  text-align: center;
  font-weight: 800;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 107px); /* 3 columns with fixed width */
  gap: 20px; /* Adjust the gap between images */
  justify-content: center; /* Center the columns */
  margin: 0 auto; /* Ensure the grid is centered within its container */
  padding-top: 8px;
}

.gallery-container a {
  position: relative;
  display: inline-block;
}

.gallery-container a img {
  display: block;
  max-width: 100%;
  height: auto;
}

.verification-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
  transform: translate(-5%, 305%) !important;
}
.verification-icon svg{
  width: 25px;
  height: 25px;
}


.product-passport{
  background-color: #E8E7E3;
  text-align: center;
  
}

.product-thumbnail{
  mix-blend-mode: darken;
  width: 170px;
  
}

.product-card{
  background-color: white;
  margin: 17px;
  border-radius: 21px;
}

.cardRow {
  display: flex;
}

.cardColumn {
  text-align: left;
  /* border: 1px solid red; */
  /* width: 100%; */
}

.productName {
  text-align: center;
  font-family: 'Inter';
  font-size: 2.1rem !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  /* border: 1px solid blue; */
  padding: 5px;
  font-size: 14px;
  padding-top:5px;
  padding-bottom: 20px;

}

.barcode {
  margin-top: 10%;
  width: 221px;
}

.companyLogo{

  width: 40%;
  /* display: block;
  margin-left: auto; */
  padding: 20px;
}

.product-passport{
  height: 105vh;
}

.antheaWallet{
  width: 155px;
  margin-top: 20px;
}


.productButtons{
  /* float: right; */
  width: 7%;
  /* margin-right: 20px;
  margin-top: 5px; */
}

.navbar{
  box-shadow: 0px -1px 50.2px -12px rgba(0, 0, 0, 0.25);
}

.nav-brand{
  width: 110% !important;
}

.nav-link{
  margin: 0 auto;
  color: #000 !important;
  text-align: center;
  font-family: 'Inter' !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal;
  border-bottom: 2px solid #CA0CD0 !important;
}

.nav-link-dk{
  padding-left: 10%;
  border-bottom: 0px solid #CA0CD0 !important;
  text-align: right !important;
}

.nav-link-dk:hover{
  border-bottom: 2px solid #CA0CD0 !important;
}

#basic-navbar-nav{
  padding-top: 34px;
  padding-bottom: 34px;
}

.navbar-toggler{
  border: none !important;
  width: 31.18px;
  padding: 0 !important;
  margin-right: 3px;
}

.icons svg {
  width: 24px !important;
}

.mobileCont{
  /* background-color: blue; */
  margin-top: 30px;
  margin-left: 18px;
  margin-right: 18px;
}

.desktopCont{
  background-color: red;
}

.greyBox{
  border-radius: 5px;
  padding: 15px;
  background: #F6F6F6;
  vertical-align: baseline;
  width: 100%;
  /* height: 100%; */
  margin-top: 20px !important;
  /* text-align: center; */
}


.top3{
  /* padding-top: 13px;
  padding-bottom: 13px; */
}

.align-baseline-custom {
  vertical-align: baseline;
}

.row{
  align-items: baseline;
}

.arrowIconRow{
  padding-top: 10px !important;
}

.graph{
  width: 100%;
}

.linkButton{
  border: none;
  background-color: transparent;
}

.labelBold {
  font-weight: 600 !important; /* Use !important cautiously */
  flex: 8; /* Takes up 90% of the space */
}

.labelsemiBold{
  color: #000;
font-family: 'Inter';
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.newcol {
  display: flex;
  align-items: center; /* This aligns the items vertically center in case they have different heights */

}

.arrowBtn {
  flex: 2; /* Takes up 10% of the space */
}

.scraper {
  margin: 0 auto;
}

.product-circle{
  width:107px !important;
  margin: 15px;
}
.product-similar{
  width:80px !important;
}